<div class="user-overview-container">
    <div class="top-container">
        <span>Hallo Mustermann 🖐🏻,</span>
        <div class="input-container">
            <input type="text" name="search" id="search" placeholder="Suchen...">
            <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="6" stroke="#7e7e7e" stroke-width="2" />
                <line x1="15.2" y1="15.2" x2="20" y2="20" stroke="#7e7e7e" stroke-width="2" stroke-linecap="round" />
            </svg>
        </div>
    </div>
    <div class="bottom-container">
        <div class="stats-box">
            <img src="./assets/images/user-overview/customers.png" alt="customers">
            <div>
                <span>Gesamtkunden</span>
                <span>5.432</span>
                <span><img src="./assets/images/user-overview/increase.png" alt="increase arrow"><span>16%</span> in diesem Monat</span>
            </div>
        </div>
        <div class="line-container"></div>
        <div class="stats-box">
            <img src="./assets/images/user-overview/members.png" alt="members">
            <div>
                <span>Mitglieder</span>
                <span>1.832</span>
                <span><img src="./assets/images/user-overview/decrease.png" alt="decrease arrow"><span>5%</span> in diesem Monat</span>
            </div>
        </div>
        <div class="line-container"></div>
        <div class="stats-box">
            <img src="./assets/images/user-overview/active_now.png" alt="active_now">
            <div>
                <span>Derzeit Aktiv</span>
                <span>189</span>
                <span>Bild, Bild, Bild</span>
            </div>
        </div>
    </div>
</div>