<div class="customer-overview-container">
    <div class="top-container">
        <div class="headline-container">
            <span>Kunden</span>
        </div>
        <div class="search-filter-container">
            <div class="select-container">
                <label for="sort-by">Sortieren nach : </label>
                <select id="sort-by" name="sort-by">
                    <option value="newest">Neuste</option>
                    <option value="latest">Älteste</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="data-headline-container">
            <span>Kunden Name</span>
            <span>Unternehmen</span>
            <span>Telefonnummer</span>
            <span>E-Mail</span>
            <span>Land</span>
        </div>
        <div class="headline-stroke-container"></div>
        @for (customer of firestoreDatabaseService.customersSignal(); track $index) {
        <app-customer [customer]="customer"></app-customer>
        }
        <div class="showing-data-container">
            <div class="showing-data">
                Seite 1 von 8
            </div>
            <div (click)="firestoreDatabaseService.addCustomer()" class="number-of-pages-container">
                <div class="page-container">
                    <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.936 6.392L0.176 3.668L2.936 0.944H4.664L1.892 3.668L4.664 6.392H2.936Z"
                            fill="#404B52" />
                    </svg>
                </div>
                <div class="page-container current-page">
                    1
                </div>
                <div class="page-container">
                    <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.344 0.944H2.072L4.832 3.668L2.072 6.392H0.344L3.116 3.668L0.344 0.944Z"
                            fill="#404B52" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>