<div (click)="userService.toggleShowUser()" class="user-background-container">
    <div (click)="$event.stopPropagation()" class="user-container">
        <div class="top-container">
            <!-- @if(!editUserProfileService.editUser){
        <span>Profil</span>
        } @else { -->
            <span>Dein Profil bearbeiten</span>
            <!-- } -->
            <div (click)="handleShowUser($event)" class="close-icon"></div>
        </div>
        <img (click)="onUploadButtonClick()" class="avatar-icon" src="{{authenticationService.user.avatar}}"
            alt="avatar">
        <input type="file" #fileInput (change)="storageService.onFileSelected($event)" style="display: none;" />
        <!-- @if(!editUserProfileService.editUser) { -->
        <div class="user-data-container">
            <div class="middle-container">
                <span>{{authenticationService.user.name}}</span>
                <span>Bearbeiten</span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="30" rx="15" fill="#ECEEFE" />
                    <mask id="mask0_761_13577" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="3" y="3" width="24"
                        height="24">
                        <rect x="3" y="3" width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_761_13577)">
                        <path
                            d="M8 22H9.4L18.025 13.375L16.625 11.975L8 20.6V22ZM22.3 11.925L18.05 7.725L19.45 6.325C19.8333 5.94167 20.3043 5.75 20.863 5.75C21.421 5.75 21.8917 5.94167 22.275 6.325L23.675 7.725C24.0583 8.10833 24.2583 8.571 24.275 9.113C24.2917 9.65433 24.1083 10.1167 23.725 10.5L22.3 11.925ZM7 24C6.71667 24 6.47933 23.904 6.288 23.712C6.096 23.5207 6 23.2833 6 23V20.175C6 20.0417 6.025 19.9127 6.075 19.788C6.125 19.6627 6.2 19.55 6.3 19.45L16.6 9.15L20.85 13.4L10.55 23.7C10.45 23.8 10.3377 23.875 10.213 23.925C10.0877 23.975 9.95833 24 9.825 24H7Z"
                            fill="#1C1B1F" />
                    </g>
                </svg>
            </div>
            <!-- <div class="status-container">
            <div class="status-icon"
                [ngClass]="{'active-icon': firebaseService.currentUser.online, 'inactive-icon': !firebaseService.currentUser.online}">
            </div>
            @if (firebaseService.currentUser.online) {
            <span (click)="handleStatus()"
                [ngClass]="{'active-span': firebaseService.currentUser.online, 'inactive-span': !firebaseService.currentUser.online}">Online</span>
            } @else {
            <span (click)="handleStatus()"
                [ngClass]="{'active-span': firebaseService.currentUser.online, 'inactive-span': !firebaseService.currentUser.online}">Offline</span>
            }
        </div> -->
            <div class="bottom-container">
                <div>
                    <img src="./assets/images/email.png" alt="email">
                    <span>E-Mail-Adresse</span>
                </div>
                <a>{{authenticationService.user.email}}</a>
            </div>
        </div>
        <div (click)="logoutUser()">Logout</div>
        <!-- } @else{
    <form [formGroup]="userForm" (ngSubmit)="editUserData()" class="edit-user-data-container">
        <div class="edit-user-container">
            <div class="header-edit-container">
                <img src="./assets/img/main-page/header/account.png" alt="account">
                <span>Vollständiger Name</span>
            </div>
            <div class="valid-container">
                <input type="text"
                    [title]="editUserProfileService.googleUser ? 'Als Google-Benutzer können Sie dieses Feld nicht bearbeiten.' : ''"
                    formControlName="name" id="name" placeholder="Bitte Namen eingeben...">
                @if (userForm.get('name')?.touched && userForm.get('name')?.invalid) {
                @if (userForm.get('name')?.errors?.['required']) {
                <span>Bitte schreiben Sie einen Namen.</span>
                }
                @if (userForm.get('name')?.errors?.['pattern']) {
                <span>Vor- und Nachname müssen mit Großbuchstaben beginnen.</span>
                }
                }
            </div>
        </div>
        <div class="edit-user-container">
            <div class="header-edit-container">
                <img src="./assets/img/main-page/header/email.png" alt="email">
                <span>E-Mail-Adresse</span>
            </div>
            <div class="valid-container">
                <input type="email"
                    [title]="editUserProfileService.googleUser ? 'Als Google-Benutzer können Sie dieses Feld nicht bearbeiten.' : ''"
                    formControlName="email" id="email" placeholder="Bitte E-Mail eingeben...">
                @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
                @if (userForm.get('email')?.errors?.['required']) {
                <span>Bitte schreiben Sie eine E-Mail</span>
                }
                @if (userForm.get('email')?.errors?.['pattern']) {
                <span>Diese E-Mail-Adresse ist leider ungültig.</span>
                }
                }
            </div>
        </div>
        <div class="button-container">
            <button (click)="toggleEditMenu()" type="button">Abbrechen</button>
            <button [disabled]="userForm.invalid" type="submit">Speichern</button>
        </div>
    </form>
    } -->
    </div>
</div>