.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px 25px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
        width: 120px;
        object-fit: contain;
    }

    span {
        font-size: 40px;
    }
}

.menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .navigation-container {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .customer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            border-radius: 10px;
            cursor: pointer;

            div {
                display: flex;
                align-items: center;
                gap: 20px;

                span {
                    color: #9197B3;
                    font-size: 24px;
                }
            }
        }

        .active-navigation {
            background-color: #5932EA;

            div {

                svg .first-path,
                .third-path {
                    fill: white;
                }


                svg .second-path {
                    stroke: white;
                }

                span {
                    color: white;
                }
            }

            .svg-arrow {
                stroke: white;
            }
        }
    }
}